
.vscode/tasks.json
dependencies/.resources/SA-MP-MySQL-74cb22/a_mysql.inc
dependencies/.resources/SA-MP-MySQL-74cb22/libmariadb.dll
dependencies/.resources/SA-MP-MySQL-74cb22/log-core.dll
dependencies/.resources/samp-plugin-timerfix-aa6881/timerfix.so
dependencies/.resources/sscanf-019253/sscanf2.inc
dependencies/code-parse.inc/
dependencies/indirection/
dependencies/pawn-stdlib/
dependencies/easyDialog/
dependencies/sa-mp-fixes/
dependencies/SA-MP-MySQL/
*.dll
dependencies/amx_assembly/
dependencies/md-sort/
dependencies/zcmd/
dependencies/YSI-Includes/
dependencies/sscanf/
dependencies/samp-stdlib/
dependencies/samp-plugin-timerfix/
*.inc
